#AboutUs {
  background-color: #7e98bb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  height: 100vh;
  color: #0c3c60;
}
#AboutUs h1 {
  font-size: 45px;
}
#AboutUs .aboutusgrid {
  position: relative;
  padding-right: 100px;
  padding-left: 100px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
#AboutUs .aboutusgrid .container1 img {
  border-radius: 15px;
}
#AboutUs .aboutusgrid .container2 article {
  font-size: 20px;
  font-weight: bold;
}
