.C {
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
}
.C h1 {
  text-align: center;
  font-family: inherit;
}
.C .CG {
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family: inherit;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1000px) {
  .C .CG {
    flex-direction: column;
  }
}
.C .CG .box {
  font-family: inherit;
}
.C .CG .box h2 {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
}
.C .CG .box2 {
  font-family: inherit;
}
.C .CG .box2 h2 {
  margin-top: 50px;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  text-decoration: underline;
}
.C .CG .title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.C .CG .contactBox {
  font-family: inherit;
  border-radius: 5px;
  padding: 10px;
  width: 600px;
}
@media (max-width: 1000px) {
  .C .CG .contactBox {
    width: auto;
  }
}
.C .CG .contactBox .contactForm {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.C .CG .contactBox .contactForm label {
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
}
.C .CG .contactBox .contactForm .err {
  font-size: 13px;
  font-weight: 400;
}
.C .CG .contactBox h2 {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
}
