.title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.contactBox {
  font-family: inherit;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}
.contactBox .contactForm {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contactBox .contactForm label {
  font-family: inherit;
}
