.headerDiv {
  position: relative;
  height: 100px;
  background-color: #cacaca;
  width: 100vw;
}
.headerDiv .topheader {
  height: inherit;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}
@media (max-width: 1000px) {
  .headerDiv .topheader {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.headerDiv .topheader .imagebox {
  width: 120px;
}
.headerDiv .topheader .imagebox a,
.headerDiv .topheader .imagebox a:link {
  text-decoration: none;
}
.headerDiv .topheader .imagebox h2 {
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.headerDiv .topheader .title {
  font-weight: normal;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1000px) {
  .headerDiv .topheader .title {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.headerDiv .lowerheader {
  z-index: 1;
  display: flex;
  align-items: center;
  height: 50px;
  font-family: inherit;
}
.headerDiv .lowerheader .nav1 {
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: inherit;
  font-family: "Montserrat", sans-serif;
}
.headerDiv .lowerheader .nav1 ul {
  font-family: inherit;
  font-size: 17px;
}
@media (max-width: 1000px) {
  .headerDiv .lowerheader .nav1 ul {
    font-size: 14px;
  }
}
.headerDiv .lowerheader .nav1 ul li {
  font-family: inherit;
  display: inline;
  padding-right: 2.5vw;
}
.headerDiv .lowerheader .nav1 ul li a,
.headerDiv .lowerheader .nav1 ul li a:link {
  font-family: inherit;
  text-decoration: none;
  color: black;
}
.headerDiv .lowerheader .nav1 ul li a:hover {
  color: blue;
}
.headerDiv .lowerheader .nav1 ul li#end {
  padding-right: 0px;
}
