.headerDiv {
  position: relative;
  height: 130px;
  font-family: "Montserrat", sans-serif;
  background-color: #cacaca;
  width: 100vw;
}
.headerDiv .topheader {
  margin-left: 1vw;
  margin-right: 1vw;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headerDiv .topheader .imagebox {
  transform: translateX(50%);
  position: absolute;
  width: 70px;
}
.headerDiv .lowerheader {
  z-index: 1;
  display: flex;
  align-items: center;
  height: 50px;
  font-family: inherit;
}
.headerDiv .lowerheader .nav1 {
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: inherit;
  font-family: "Montserrat", sans-serif;
}
.headerDiv .lowerheader .nav1 ul {
  font-family: inherit;
  font-size: 17px;
}
@media (max-width: 1000px) {
  .headerDiv .lowerheader .nav1 ul {
    font-size: 14px;
  }
}
.headerDiv .lowerheader .nav1 ul li {
  font-family: inherit;
  display: inline;
  padding-right: 2.5vw;
}
.headerDiv .lowerheader .nav1 ul li a,
.headerDiv .lowerheader .nav1 ul li a:link {
  font-family: inherit;
  text-decoration: none;
  color: black;
}
.headerDiv .lowerheader .nav1 ul li a:hover {
  color: blue;
}
.headerDiv .lowerheader .nav1 ul li#end {
  padding-right: 0px;
}
