.all {
  height: 100vh;
  background-color: #88bdbc71;
}
.all .life {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.all .life h4, .all .life h3 {
  text-align: center;
  font-family: inherit;
}
@media (min-width: 1000px) {
  .all .life h4, .all .life h3 {
    padding-bottom: 0px;
  }
}
.all .life .images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;
}
@media (max-width: 1100px) {
  .all .life .images {
    flex-direction: column;
    gap: 30px;
    width: 100vw;
  }
}
.all .life .images .img {
  border-radius: 5px;
}
