.desc {
  margin-left: 1vw;
  margin-right: 1vw;
  height: 400px;
  position: relative;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  background-color: inherit;
}
@media (max-width: 1000px) {
  .desc {
    height: 600px;
  }
}
@media (max-width: 1000px) {
  .desc {
    font-size: 20px;
  }
}
.desc h2 {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
}
.desc .box2 {
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding-top: 3vh;
  display: flex;
  font-family: inherit;
}
@media (max-width: 800px) {
  .desc .box2 {
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
  }
}
.desc .box2 .item {
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
}
.desc .box2 .item .imagebox {
  height: 50px;
  width: 50px;
}
