@mixin color1bg {
  // background-color: #254e58;
  background-color: rgb(255, 235, 199);
}
@mixin color2bg {
  background-color: #88bdbc;
}

@mixin text-color-2 {
  font-family: "Montserrat", sans-serif;
  color: rgb(108, 107, 107);
}

@mixin text-color-1 {
  font-family: "Montserrat", sans-serif;
  color: white;
}