

//ContactUs CSS

.contactStyle {
    position: relative;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-rows: auto auto auto;
  
    #applyNowStyle {
      font-size: 30px;
      color: black;
    }
  
    .contactElement {
      background-color: transparent;
      padding: 10px;
      font-size: 15px;
      text-align: center;
    }
    // .btn2 {
    // }
  }
  