//CONTACT PAGE CSS
@use "base" as *;

.title {
  @include text-color-1();
  // border: 2px solid brown;
  text-align: center;
}

.contactBox {
  font-family: inherit;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;

  .contactForm {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px;
    label {
      font-family: inherit;
    }
  }
}
