//Header CSS
@use "base" as *;

.headerDiv {
  position: relative;
  height: 100px;
  @include color1bg();
  width: 100vw;

  .topheader {
    height: inherit;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;

    @media (max-width: 1000px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    .imagebox {
      // position: absolute;
      // left: 0px;
      width: 120px;
      a,
      a:link {
        text-decoration: none;
      }
      h2 {
        text-align: center;
        text-decoration: none;
        font-weight: normal;
        font-size: 46px;
        @include text-color-2();
      }
    }
    .title {
      font-weight: normal;
      font-size: 36px;
      @media (max-width: 1000px) {
        font-size: 24px;
        padding-left: 10px;
        padding-right: 10px;
      }

      @include text-color-1();
    }
  }

  .lowerheader {
    z-index: 1;
    display: flex;
    align-items: center;
    height: 50px;
    font-family: inherit;

    .nav1 {
      margin-left: 1vw;
      margin-right: 1vw;
      font-family: inherit;
      font-family: "Montserrat", sans-serif;
      ul {
        font-family: inherit;
        font-size: 17px;
        @media (max-width: 1000px) {
          font-size: 14px;
        }

        li {
          font-family: inherit;
          display: inline;
          padding-right: 2.5vw;
          a,
          a:link {
            font-family: inherit;
            text-decoration: none;
            color: black;
          }
          a:hover {
            color: blue;
          }
        }
        li#end {
          padding-right: 0px;
        }
      }
    }
  }
}
