//Header CSS
@use "base" as *;

.headerDiv {
  position: relative;
  height: 16vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;

  .topheader {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .imagebox {
      transform: translateX(50%);
      position: absolute;
      width: 8vh;
    }
  }

  .lowerheader {
    display: flex;
    align-items: center;
    height: 6vh;
    @include color2bg();

    .nav1 {
      margin-left: 1vw;
      margin-right: 1vw;
      ul {
        @media (max-width: 1000px) {
          font-size: 14px;
        }
        font-size: 17px;
        li {
          display: inline;
          padding-right: 2.4vw;
          a,
          a:link {
            font-family: "Montserrat", sans-serif;
            text-decoration: none;
            color: black;
          }
          a:hover {
            color: blue;
          }
        }
        li#end {
          padding-right: 0px;
        }
      }
    }
    // div {
    //   display: flex;
    //   flex-grow: 1;
    //   height: 4vw;

    //   // border: 1px solid black;
    //   // border-bottom: none;
    //   z-index: 1;
    //   border-radius: 3px;
    //   justify-content: center;
    //   align-items: center;
    //   text-align: center;
    //   font-size: 18px;
    //   a,
    //   a:link {
    //     text-decoration: none;
    //     color: black;
    //   }
    //   a:hover {
    //     color: blue;
    //   }
    // }
  }
}
