//Header CSS
@use "base" as *;

.headerDiv {
  position: relative;
  height: 130px;
  font-family: "Montserrat", sans-serif;
  @include color1bg();
  width: 100vw;

  .topheader {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .imagebox {
      transform: translateX(50%);
      position: absolute;
      width: 70px;
    }
  }

  .lowerheader {
    z-index: 1;
    display: flex;
    align-items: center;
    height: 50px;
    font-family: inherit;

    .nav1 {
      margin-left: 1vw;
      margin-right: 1vw;
      font-family: inherit;
      font-family: "Montserrat", sans-serif;
      ul {
        font-family: inherit;
        font-size: 17px;
        @media (max-width: 1000px) {
          font-size: 14px;
        }

        li {
          font-family: inherit;
          display: inline;
          padding-right: 2.5vw;
          a,
          a:link {
            font-family: inherit;
            text-decoration: none;
            color: black;
          }
          a:hover {
            color: blue;
          }
        }
        li#end {
          padding-right: 0px;
        }
      }
    }
  }
}
