@use "base" as *;

.desc {
  margin-left: 1vw;
  margin-right: 1vw;
  height: 400px;
  @media (max-width: 1000px) {
    height: 700px;
  }
  position: relative;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  @media (max-width: 1000px) {
    font-size: 20px;
  }

  h3,
  h4 {
    text-align: center;
    font-family: inherit;
    font-weight: normal;
  }

  .box2 {
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    @media (max-width: 800px) {
      flex-direction: column;
      align-content: space-between;
      gap: 20px;
    }
    padding-top: 3vh;
    display: flex;
    font-family: inherit;

    .item {
      font-style: italic;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-family: inherit;
      font-size: 20px;
      text-align: center;

      .imagebox {
        // transform: translateY(-50%);
        height: 50px;
        width: 50px;
      }
    }
  }
}
